---
layout: default
---


<div class="hero-section">
  <div class="hero-inner">
    <div class="slideshow-container">
        <div class="slide active">
            <img src="{{ '/assets/hero/Welcoming a Client in a Glass-Walled Meeting Room.jpeg' | relative_url }}" alt="Slide 1">
        </div>
        <div class="slide">
            <img src="{{ '/assets/hero/nordic office brainstorm.jpeg' | relative_url }}" alt="Slide 2">
        </div>
        <div class="slide">
            <img src="{{ '/assets/hero/Dashboard Strategy Session.jpeg' | relative_url }}" alt="Slide 3">
        </div>
    </div>
    <div class="hero-content">
        <h2>Fjeldmann Solutions</h2>
        {% if page.lang == 'da' %}
        <h1>Skarp software med bløde værdier.</h1>
        {% elsif page.lang == 'en' %}
        <h1>A people first software company</h1>
        {% else %}
        <h1>A people first software company</h1>
        {% endif %}
    </div>
  </div>
</div>

<div class="content-section">
    {{ content }}
</div>